<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

	<property resource="logback.properties" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %C.%M - %msg%n </Pattern>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/cloud.log</file>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %C.%M - %msg%n </pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${log.dir}/cloud.log.%d{yyyy-MM-dd}
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%msg：日志消息，%n是换行符 -->
	</appender>
	
	<root level="${log.level}">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
